---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    background-color: #333333;
}

::selection {
    background-color: yellow;
}

.masthead {
    background-color: #222222;
}

.masthead #site-nav {
    background-color: #222222;

    .site-title {
        font-size: 2em;
    }
}

#main {
    .page {
        font-size: 0.8em; 

        p {
            color: #dddddd;
            a {
                text-decoration: none;
                color: #fc0;
            }
        }

        code {
            color: #fc0;
            background: none;
        }

        .toc a {
            font-size: 0.9em;
            color: #cccccc;
            background-color: #444444;
        }

        pre {
            background-color: #222222;
            code {
                color: #cccccc;
            }
        }
    }
}

