---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead .site-title {
    font-size: 2em;
}

#main {
    .page {
        font-size: 0.8em; 

        p {
            color: #dddddd;
            a {
                text-decoration: none;
                color: lightsalmon;
            }
        }

        code {
            color: lightsalmon;
            background: none;
        }

        .toc__menu a {
            font-size: 0.9em;
            color: #cccccc;
        }

        pre {
            background-color: rgba(60, 70, 80, 0.9);
            code {
                color: #cccccc;
            }
        }
    }
}

